{
  "arrowParens": "always",  //剪头函数参数是否使用（）
  "bracketSpacing": false,   // {foo: xx}还是{ foo: xx }
  "jsxSingleQuote": true,  // jsx是否使用单引号
  "jsxBracketSameLine": false,
  "semi": true, // 是否每句后都加分号
  "singleQuote": true,  // 是否使用单引号
  "tabWidth": 2,  // tab占用的字符数
  "trailingComma": "es5"
}